<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uk.ac.horizon.ug.lobby.androidclient"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name" android:launchMode="standard">
        <!--  to open from browser on mime type -->
        <intent-filter>
        	<data android:mimeType="application/x-horizon-ug-lobby-json"></data>
			<action android:name="android.intent.action.VIEW"></action>
		<category android:name="android.intent.category.DEFAULT"></category>
		</intent-filter>
<!--  to open non-file seems to need explicit scheme --><!--         <intent-filter>
        	<data android:mimeType="application/x-horizon-ug-lobby-json" android:scheme="http"></data>
			<action android:name="android.intent.action.VIEW"></action>
		
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter> -->
		</activity>

<!--  just using browser for now --><!--     	<activity android:name=".HomeActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    	</activity> -->
	</application>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>

<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
</manifest> 